<header>
    <div class="container navigation">
        <div class="row">
            <div class="col-sm-8">
                <div class="logo">
                    <div class="header-logo">
                        <div class="logo"><a href="/"><img src="./assets/images/logo.svg" width="158" height="65"
                                    class="logoheader" alt="Stadtwerke Lindenberg Logo"
                                    title="Stadtwerke Lindenberg"></a></div>
                        <div class="logo"><a href="/"><img src="./assets/images/logo_menu.svg" width="212" height="212"
                                    class="logosticky" alt="SWL Logo" title="SWL"></a></div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</header>

<body>
    <div class="container">

        <p>
            Sehr geehrte Familie Stöckeler,
        </p>


        <p>Aufgrund der derzeit angespannten Lage hinsichtlich der Energieversorgung im gesamten Bundesstaat, sind
            auch die Stadtwerke Lindenberg mittlerweile dazu verpflichtet, Einsparmaßnahmen einzuführen, damit eine
            Grundversorgung aller Haushalte im Landkreis auch weiterhin gewährleistet werden kann.></p>

        <p>Hierzu sind Vorkehrungen notwendig, welche auch die Bewohner der Bräuhausstraße 15 betreffen.
            In Hinblick auf den zu erwarteten steigenden Energieverbrauch, ausgelöst durch vermehrte
            Weihnachtsbeleuchtung in den kommenden Tagen, mussten wir daher Maßnahmen ergreifen, die diesem
            vermehrten Stromverbrauch entgegenwirken.</p>

        <p>Es tut uns leid, Ihnen heute mitteilen zu müssen, dass es dieses Jahr keinerlei zusätzliche
            Stromversorgung für Christbaumbeleuchtung und jegliche weitere Art von Weihnachtsdekoration für Ihren
            Haushalt geben kann und die Energiezulieferung auf ein Minimum heruntergeschraubt wird.</p>

        <p>Wir hoffen, Sie haben hierfür Verständnis, aber die Sicherstellung einer Grundstromversorgung des
            Landkreises abseits der zusätzlichen vielen Weihnachtsdekoration liegt in unser allem Interesse.</p>

        <p>Als treuer und langjähriger Kunde möchten wir Ihnen dennoch folgendes Angebot machen:</p>

        <p>In unserem Lager haben wir noch einen alten Generator gefunden, welcher ursprünglich für perpetuum
            mobile Versuche verwendet wurde und auch bereits erste Erfolge verzeichnen konnte. Dies würde eine
            Möglichkeit darstellen, mit der Ihnen zur Verfügung stehenden geringen Grundstrommenge, zusätzlichen
            Strom zu generieren und somit die Weihnachtsbeleuchtung aufrecht erhalten zu können, ohne zusätzliche
            Energie zu verbrauchen. Leider konnten unsere Lagermitarbeiter jedoch nicht mehr alle Teile des Gerätes
            finden. In der Gebrauchsanweisung konnten wir jedoch Hinweise finden, um welche Teile es sich
            theoretisch handeln sollte. Vielleicht können Sie in Ihrem Hause ähnliche Gegenstände finden und den
            Generator wieder zum Laufen bringen.</p>

        <p>Wir wünschen Ihnen viel Erfolg und ein schönes lichterfrohes Weihnachtsfest mit Ihrer Familie!</p>

        <p>Mit freundlichen Grüßen,</p>

        <p>Stadtwerke Lindenberg</p>
        <p>
            <!-- <button routerLink="/geheimnisse">Gebrauchsanweisung</button> -->
            <button class="button" type="button" (click)="goWelcome()">Gebrauchsanweisung</button>
        </p>
    </div>
</body>
<footer class="footer">
    <div class="container inhaltselement">
        <div class="row">
            <div class="contentfooter">

                <ul>
                    <li><a href="/ueber-uns/kontakt">Kontakt</a></li>
                    <li><a href="/impressum">Impressum </a></li>
                    <li><a href="/datenschutz">Datenschutz</a></li>
                    <li><a href="/kundenportal/daten-aendern">Formulare</a></li>
                    <li><a href="/ueber-uns/presse-2">Presse</a></li>
                    <li><a href="/ueber-uns/faq">FAQs</a></li>
                </ul>



                <ul class="listphonelink">
                    <li>
                        <a href="tel:+49838192350">Tel. 0 83 81 92 35-0</a>
                    </li>
                </ul>




            </div>
        </div>
    </div>
</footer>