<div *ngIf="secret">
  <div>Hinweis#: {{secret.id}}</div>

  <body>
    <div>
      <!-- <label for="secret-id">Secret : </label> -->
      <!-- <input id="secret-message" [(ngModel)]="secret.message" placeholder="Message"> -->
      <!-- <p>{{secret.message}}</p> -->
      <div class="christmas-card">
        <input id="open" type="checkbox">
        <label class="open" for="open"></label>
        <div class="card-front">
          <div class="christmas-tree"></div>
          <div class="ribbon"></div>
          <div class="text">- Öffnen -</div>
          <div class="star"></div>
          <div class="balls"></div>
        </div>

        <div class="card-inside">
          <div class="title">Frohe<br>Weihnachten!</div>
          <div class="wishes" innerHTML={{secret.message}}></div>          
          <div class="wishesImg"><a href="/"><img src="./assets/images/blueprint.jpg" width="212" height="212"></a></div>
          <div class="gift">
            <div class="bow"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute bottom-0 end-40">
      <button type="button" class="badge bg-success" (click)="goBack()">go back</button>
    </div>
  </body>

</div>