<header>
    <h1>Secerts!</h1>
</header>

<body class="container">
    <div class="container px-4 text-center">
        <div class="row gx-5" *ngFor="let secret of secrets">
            <div class="col" *ngIf="secret.id">
                <div class="p-2">
                    Secret#{{secret.id}}
                    <input type="text" name=inputPass-{{secret.id}} [(ngModel)]=secret.inputPass>
                    <button class="button" type="button" (click)="getSecert(secret,secret.inputPass)">enter</button>
                </div>
            </div>
            <!-- <div class="col" *ngIf="secret.id % 2 == 0">
                    Secret#{{secret.id}}
                    <input type="text" name=inputPass-{{secret.id}} [(ngModel)]=secret.inputPass>
                    <button class="button" type="button" (click)="getSecert(secret,secret.inputPass)">enter</button>
                </div> -->
            <div *ngIf="secret.validPassword == false">
                {{errorMessage}}
            </div>
        </div>
    </div>


    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
    </div>
</body>
<footer class="footer">
    <p>Frohe Weihnachten :)</p>
</footer>

<!-- <h1>Secerts!</h1>
<div *ngFor="let secret of secrets">
    <div *ngIf="secret.validPassword == false">
        {{errorMessage}}
    </div>
    <ul>
        <li>
            <span class="name">Secret#{{secret.id}}</span>
            <input type="text" name=inputPass-{{secret.id}} [(ngModel)]=secret.inputPass>
            <button class="button" type="button" (click)="getSecert(secret,secret.inputPass)">enter</button>
        </li>
    </ul>
</div> -->

<!-- 
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword1Msg">{{errorMessage}}</div>
    Secret #1
    <button (click)="getSecert1()" class="btn btn-success">Secret1</button>
    <input type="text" name="secretPassword1" [(ngModel)]="secretPassword1">
</div>

<div class="container" *ngIf="!invalidPassword1Msg">
    <h2>{{secretMessage1}}</h2>
</div>


<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword2Msg">{{errorMessage}}</div>
    Secret #2
    <button (click)="getSecert2()" class="btn btn-success">Secret2</button>
    <input type="text" name="secretPassword2" [(ngModel)]="secretPassword2">
</div>

<div class="container" *ngIf="!invalidPassword2Msg">
    <h2>{{secretMessage2}}</h2>
</div>


<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword3Msg">{{errorMessage}}</div>
    Secret #3
    <button (click)="getSecert3()" class="btn btn-success">Secret3</button>
    <input type="text" name="secretPassword3" [(ngModel)]="secretPassword3">
</div>

<div class="container" *ngIf="!invalidPassword3Msg">
    <h2>{{secretMessage3}}</h2>
</div>


<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword4Msg">{{errorMessage}}</div>
    Secret #4
    <button (click)="getSecert4()" class="btn btn-success">Secret4</button>
    <input type="text" name="secretPassword2" [(ngModel)]="secretPassword4">
</div>

<div class="container" *ngIf="!invalidPassword4Msg">
    <h2>{{secretMessage4}}</h2>
</div>


<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword5Msg">{{errorMessage}}</div>
    Secret #5
    <button (click)="getSecert5()" class="btn btn-success">Secret5</button>
    <input type="text" name="secretPassword5" [(ngModel)]="secretPassword5">
</div>

<div class="container" *ngIf="!invalidPassword5Msg">
    <h2>{{secretMessage5}}</h2>
</div>


<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword6Msg">{{errorMessage}}</div>
    Secret #6
    <button (click)="getSecert6()" class="btn btn-success">Secret6</button>
    <input type="text" name="secretPassword6" [(ngModel)]="secretPassword6">
</div>

<div class="container" *ngIf="!invalidPassword6Msg">
    <h2>{{secretMessage6}}</h2>
</div>


<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword7Msg">{{errorMessage}}</div>
    Secret #7
    <button (click)="getSecert7()" class="btn btn-success">Secret7</button>
    <input type="text" name="secretPassword7" [(ngModel)]="secretPassword7">
</div>

<div class="container" *ngIf="!invalidPassword7Msg">
    <h2>{{secretMessage7}}</h2>
</div>


<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword8Msg">{{errorMessage}}</div>
    Secret #8
    <button (click)="getSecert8()" class="btn btn-success">Secret8</button>
    <input type="text" name="secretPassword8" [(ngModel)]="secretPassword8">
</div>

<div class="container" *ngIf="!invalidPassword8Msg">
    <h2>{{secretMessage8}}</h2>
</div> -->