<h1>Secerts!</h1>

<!--Secret number one-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword1Msg">{{errorMessage}}</div>
    Secret #1
    <button (click)="getSecert1()" class="btn btn-success">Secret1</button>
    <input type="text" name="secretPassword1" [(ngModel)]="secretPassword1">
</div>

<div class="container" *ngIf="!invalidPassword1Msg">
    <h2>{{secretMessage1}}</h2>
</div>

<!--Secret number two-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword2Msg">{{errorMessage}}</div>
    Secret #2
    <button (click)="getSecert2()" class="btn btn-success">Secret2</button>
    <input type="text" name="secretPassword2" [(ngModel)]="secretPassword2">
</div>

<div class="container" *ngIf="!invalidPassword2Msg">
    <h2>{{secretMessage2}}</h2>
</div>

<!--Secret number three-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword3Msg">{{errorMessage}}</div>
    Secret #3
    <button (click)="getSecert3()" class="btn btn-success">Secret3</button>
    <input type="text" name="secretPassword3" [(ngModel)]="secretPassword3">
</div>

<div class="container" *ngIf="!invalidPassword3Msg">
    <h2>{{secretMessage3}}</h2>
</div>

<!--Secret number four-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword4Msg">{{errorMessage}}</div>
    Secret #4
    <button (click)="getSecert4()" class="btn btn-success">Secret4</button>
    <input type="text" name="secretPassword2" [(ngModel)]="secretPassword4">
</div>

<div class="container" *ngIf="!invalidPassword4Msg">
    <h2>{{secretMessage4}}</h2>
</div>

<!--Secret number five-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword5Msg">{{errorMessage}}</div>
    Secret #5
    <button (click)="getSecert5()" class="btn btn-success">Secret5</button>
    <input type="text" name="secretPassword5" [(ngModel)]="secretPassword5">
</div>

<div class="container" *ngIf="!invalidPassword5Msg">
    <h2>{{secretMessage5}}</h2>
</div>

<!--Secret number six-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword6Msg">{{errorMessage}}</div>
    Secret #6
    <button (click)="getSecert6()" class="btn btn-success">Secret6</button>
    <input type="text" name="secretPassword6" [(ngModel)]="secretPassword6">
</div>

<div class="container" *ngIf="!invalidPassword6Msg">
    <h2>{{secretMessage6}}</h2>
</div>

<!--Secret number seven-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword7Msg">{{errorMessage}}</div>
    Secret #7
    <button (click)="getSecert7()" class="btn btn-success">Secret7</button>
    <input type="text" name="secretPassword7" [(ngModel)]="secretPassword7">
</div>

<div class="container" *ngIf="!invalidPassword7Msg">
    <h2>{{secretMessage7}}</h2>
</div>

<!--Secret number eight-->
<div class="container">  
    <div class="alert alert-warning" *ngIf="invalidPassword8Msg">{{errorMessage}}</div>
    Secret #8
    <button (click)="getSecert8()" class="btn btn-success">Secret8</button>
    <input type="text" name="secretPassword8" [(ngModel)]="secretPassword8">
</div>

<div class="container" *ngIf="!invalidPassword8Msg">
    <h2>{{secretMessage8}}</h2>
</div>
